<footer>
    <div class="container">
        <h4>Op Pautu, <%= new Date().getFullYear() %>
        </h4>
        <div class="links">

            <a href="https://github.com/op-pautu" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
            </a>
        </div>
    </div>
</footer>